/A.class
/B.class
/City.class
/Health_Center.class
/ICU.class
/Main.class
/Normal.class
/Person_Abstruct.class
/Region.class
/interface_Covid_pationts.class
/C.class
/CovidSpread.class
/Human.class
/MAIN_loop.class
/Main_Method.class
/Places.class
/TableViewer.class
/covidInfection.class
/ministryofHealth.class
/temp.class
